#hero {
  max-width: 81%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: 4rem;
}

#hero div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero .hero_title {
  font-size: 2.4rem;
}

#hero .hero_title span:last-child {
  color: var(--primary);
  margin-right: 0.625rem;
}

#hero .hero_description {
  width: 67%;
  text-align: center;
  line-height: 2.5;
  margin-block: 1rem 2rem;
}

#hero .hero_btns {
  display: flex;
  gap: 2rem;
}

#hero .hero_btns a:first-child {
  width: 12.875rem;
  height: 3.5rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in;
}

#hero .hero_btns a:first-child:hover {
  background-color: var(--primary);
  color: var(--neutral-0);
}

#hero .hero_btns a:last-child {
  width: 13.5rem;
  height: 3.5rem;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--neutral-0);
  transition: all 0.3s ease-in;
}

#hero .hero_btns a:last-child:hover {
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
}

.home_categories {
  max-width: 81%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "new rect padari"
    "new rect mokat";
  gap: 1.4375rem;
}

.home_categories .home_category {
  height: 18rem;
  position: relative;
}

.home_categories .home_category div:last-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  border-radius: 1rem;
  background: linear-gradient(
      269.67deg,
      rgba(1, 48, 117, 0.8) -96.09%,
      rgba(0, 0, 0, 0) 99.55%
    ),
    linear-gradient(
      270.11deg,
      rgba(2, 47, 113, 0.6) -99.67%,
      rgba(0, 0, 0, 0) 99.78%
    );
}

.home_categories .home_category img {
  width: 24.4581rem;
  height: 18rem;
  border-radius: 1rem;
  object-fit: cover;
}

.home_categories .home_category:nth-child(1) {
  grid-area: new;
}

.home_categories .home_category:nth-child(2) {
  grid-area: rect;
}

.home_categories .home_category:nth-child(3) {
  grid-area: padari;
}

.home_categories .home_category:nth-child(4) {
  grid-area: mokat;
}

.home_categories .home_category:nth-child(3) img,
.home_categories .home_category:nth-child(3),
.home_categories .home_category:nth-child(4) img,
.home_categories .home_category:nth-child(4) {
  height: 8.25rem;
}

.home_categories h2 {
  color: var(--neutral-0);
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
}

.home_categories .category_link {
  width: 13.625rem;
  height: 3rem;
  background-color: transparent;
  color: var(--neutral-0);
  border: 1px solid var(--neutral-0);
  font-size: 0.9rem;
  transition: all 0.3s ease-in;
}

.home_categories .category_link:hover {
  background-color: var(--neutral-0);
  color: var(--neutral-13);
}

#home_membership {
  max-width: 81%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home_membership div {
  width: 34%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.3125rem;
}

#home_membership div h2 {
  font-size: 2.2rem;
}

#home_membership div h2 span:last-child {
  color: var(--primary);
}

#home_membership div p {
  font-weight: 100;
  text-align: center;
  line-height: 2.5;
}

#home_membership div a {
  width: 27.375rem;
  height: 3.5rem;
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}

#home_membership div a:hover {
  background-color: var(--primary);
  color: var(--neutral-0);
}
