#grid {
  margin-block: 7.5rem;
}

.grid_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid_header a {
  width: 10.3125rem;
  height: 3rem;
  background-color: transparent;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.grid_header a:hover {
  background-color: var(--primary);
  color: var(--neutral-0);
}

.grid_header a:hover svg {
  fill: var(--neutral-0);
}

.grid_header a svg {
  fill: var(--primary);
}

.product_grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6875rem;
  margin-block: 1.5rem;
}

.product_grid .grid_item {
  width: 17.9688rem;
  border: 1px solid var(--neutral-5);
  border-radius: 0.75rem;
  padding: 1rem;
}

.product_grid h2 {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}

.grid_item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.product_grid .grid_item a {
  width: 15.9688rem;
  height: 2.5rem;
  color: var(--primary);
  border: 1px solid var(--primary);
  transition: all 0.3s ease-in-out;
}

.product_grid .grid_item a:hover {
  background-color: var(--primary);
  color: var(--neutral-0);
}
