@font-face {
  font-family: "Iran Yekan";
  src: url("font/IranYekan.ttf") format("truetype");
}

:root {
  --neutral-0: #ffffff;
  --neutral-3: #ededed;
  --neutral-4: #e1e1e1;
  --neutral-9: #717171;
  --neutral-13: #121212;
  --primary: #cb1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Iran Yekan";
}

body {
  width: 90%;
  margin: auto;
  direction: rtl;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
}
