@font-face {
  font-family: "Iran Yekan";
  src: url("font/IranYekan.ttf") format("truetype");
}

:root {
  --neutral-0: #ffffff;
  --neutral-2: #f9f9f9;
  --neutral-3: #ededed;
  --neutral-4: #e1e1e1;
  --neutral-5: #d9d9d9;
  --neutral-6: #CBCBCB;
  --neutral-8: #909090;
  --neutral-9: #717171;
  --neutral-10: #505050;
  --neutral-13: #121212;
  --primary: #cb1b1b;
  --shade-2: #9e1515;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Iran Yekan";
}

body {
  direction: rtl;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}